#check readme for instruction on what env variables are needed
SLACK_APP_TOKEN=xapp-your-bot-token-here
SLACK_BOT_TOKEN=xoxb-your-bot-token-here
SLACK_USER_TOKEN=xoxp-your-user-token-here

SIGNING_SECRET=

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

PUBLIC_BASE_URL=

HACKCLUB_CLIENT_ID=
HACKCLUB_CLIENT_SECRET=

ALLOWED_HACKCLUB_EMAIL=

